.overlay-edit-profile {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.warpper-edit-profile {
  height: 500px;
  width: 700px;
  background: rgb(16, 97, 202);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
